binary==1.0.0
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-RESTful
greenlet==1.0.0
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2==2.7.7
psycopg2-binary==2.8.6
SQLAlchemy==1.4.11
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.1
